.DS_Store
.env
.flaskenv
*.pyc
*.sqlite
*.sqlite3
*.pyo
venv/
venv*
migrations/
migrations*
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover